In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("Setup successful! Ready to start the project.")

Setup successful! Ready to start the project.

In [ ]:
# Load OECD Life Expectancy Data
df_life_expectancy = pd.read_csv('../data/raw/oecd_life_expectancy.csv')


df_life_expectancy.shape
print(df_life_expectancy.columns)

# Prepare life expectancy DataFrame for Machine Learning
ml_df_life_expectancy = df_life_expectancy[['COUNTRY', 'TIME_PERIOD', "SEX", 'OBS_VALUE']]

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Frequency of observation', 'TERRITORIAL_LEVEL', 'Territorial level',
       'REF_AREA', 'Reference area', 'TERRITORIAL_TYPE',
       'Territorial typology', 'MEASURE', 'Measure', 'AGE', 'Age', 'SEX',
       'Sex', 'UNIT_MEASURE', 'Unit of measure', 'TIME_PERIOD', 'Time period',
       'OBS_VALUE', 'Observation value', 'COUNTRY', 'Country', 'OBS_STATUS',
       'Observation status', 'UNIT_MULT', 'Unit multiplier', 'DECIMALS',
       'Decimals'],
      dtype='object')

In [ ]:
print(ml_df_life_expectancy.shape)

# check for missing values
print(ml_df_life_expectancy.isnull().sum())

# check data types
print(ml_df_life_expectancy.dtypes)

ml_df_life_expectancy.head(10)

(2968, 4)
COUNTRY        0
TIME_PERIOD    0
SEX            0
OBS_VALUE      0
dtype: int64
COUNTRY         object
TIME_PERIOD      int64
SEX             object
OBS_VALUE      float64
dtype: object

  COUNTRY  TIME_PERIOD SEX  OBS_VALUE
0     DEU         1990   F       80.4
1     DEU         1990   M       74.0
2     DEU         1991   M       72.2
3     DEU         1991   F       78.8
4     DEU         1992   F       79.3
5     DEU         1992   M       72.7
6     DEU         1993   M       72.8
7     DEU         1993   F       79.4
8     DEU         1994   F       79.7
9     DEU         1994   M       73.1

In [ ]:

# checking if data looks reasonable
print(ml_df_life_expectancy["OBS_VALUE"].describe())
print(ml_df_life_expectancy["TIME_PERIOD"].describe())

count    2968.000000
mean       77.101604
std         5.697820
min        51.100000
25%        74.100000
50%        78.200000
75%        81.040000
max        87.710000
Name: OBS_VALUE, dtype: float64
count    2968.000000
mean     2006.685984
std         9.567375
min      1990.000000
25%      1999.000000
50%      2007.000000
75%      2015.000000
max      2024.000000
Name: TIME_PERIOD, dtype: float64

In [ ]:
# checking unique countries in the dataset
ml_df_life_expectancy["COUNTRY"].unique()

array(['DEU', 'GRC', 'HUN', 'ISL', 'IRL', 'ISR', 'ITA', 'JPN', 'LTU',
       'LUX', 'MEX', 'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'SVN',
       'ESP', 'SWE', 'CHE', 'USA', 'BRA', 'BGR', 'ROU', 'RUS', 'ZAF',
       'AUS', 'AUT', 'BEL', 'CAN', 'CHL', 'COL', 'CRI', 'CZE', 'DNK',
       'EST', 'FIN', 'FRA', 'GBR', 'PER', 'KOR', 'TUR', 'ARG', 'HRV',
       'LVA', 'ALB'], dtype=object)

In [82]:
# Load OECD Healthcare Spending Data
df_healthcare_spending = pd.read_csv('../data/raw/oecd_health_spending.csv')
print(df_healthcare_spending.shape)
print(df_healthcare_spending.columns)
df_healthcare_spending.head(10)

(5192, 46)
Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'FINANCING_SCHEME',
       'Financing scheme', 'FINANCING_SCHEME_REV',
       'Revenues of financing schemes', 'FUNCTION', 'Health function',
       'MODE_PROVISION', 'Mode of provision', 'PROVIDER',
       'Healthcare provider', 'FACTOR_PROVISION', 'Factor of provision',
       'ASSET_TYPE', 'Asset type', 'PRICE_BASE', 'Price base', 'TIME_PERIOD',
       'Time period', 'OBS_VALUE', 'Observation value', 'BASE_PER',
       'Base period', 'CURRENCY', 'Currency', 'OBS_STATUS',
       'Observation status', 'OBS_STATUS2', 'Observation status 2',
       'OBS_STATUS3', 'Observation status 3', 'UNIT_MULT', 'Unit multiplier',
       'DECIMALS', 'Decimals'],
      dtype='object')

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,OBS_STATUS,Observation status,OBS_STATUS2,Observation status 2,OBS_STATUS3,Observation status 3,UNIT_MULT,Unit multiplier,DECIMALS,Decimals
0,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Units,1,One
1,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
2,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
3,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
4,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
5,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
6,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
7,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
8,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,D,Definition differs,NaN,NaN,NaN,NaN,0,Units,1,One
9,DATAFLOW,OECD.ELS.HD:DSD_SHA@DF_SHA(1.0),Health expenditure and financing,I,AUS,Australia,A,Annual,EXP_HEALTH,Expenditure,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Units,1,One

In [ ]:

# Prepare healthcare spending DataFrame for Machine Learning
ml_df_healthcare_spending = df_healthcare_spending[['REF_AREA', 'TIME_PERIOD', 'UNIT_MEASURE', 'OBS_VALUE']]   
print(ml_df_healthcare_spending.shape) 

# check for data type & missing values
print(ml_df_healthcare_spending.dtypes)

print(ml_df_healthcare_spending.isnull().sum())

ml_df_healthcare_spending.head(10)

# Noticed that there are different unit measures, so I'll create seperate dataframes for each unit measure
pct_gdp_df = ml_df_healthcare_spending[ml_df_healthcare_spending['UNIT_MEASURE'] == 'PT_B1GQ']
per_capita_df = ml_df_healthcare_spending[ml_df_healthcare_spending['UNIT_MEASURE'] == 'EUR_PPP_PS']

#checking the new dataframes
pct_gdp_df.head(10)
per_capita_df.head(10)

# checking unique years in the dataset
ml_df_healthcare_spending['TIME_PERIOD'].drop_duplicates().sort_values()

(5192, 4)
REF_AREA         object
TIME_PERIOD       int64
UNIT_MEASURE     object
OBS_VALUE       float64
dtype: object
REF_AREA        0
TIME_PERIOD     0
UNIT_MEASURE    0
OBS_VALUE       0
dtype: int64

145    1970
9      1971
23     1972
22     1973
21     1974
20     1975
19     1976
18     1977
17     1978
16     1979
15     1980
14     1981
13     1982
12     1983
11     1984
10     1985
28     1986
27     1987
26     1988
25     1989
0      1990
35     1991
34     1992
33     1993
32     1994
31     1995
30     1996
29     1997
40     1998
4      1999
6      2000
3      2001
44     2002
67     2003
66     2004
121    2005
118    2006
65     2007
1      2008
64     2009
63     2010
62     2011
61     2012
2      2013
91     2014
94     2015
93     2016
92     2017
95     2018
96     2019
97     2020
99     2021
98     2022
88     2023
85     2024
Name: TIME_PERIOD, dtype: int64

In [ ]:
# Load OECD Mortality Rate Data
df_mortality_rate = pd.read_csv('../data/raw/oecd_mortality_rates.csv')  

# checking the loaded dataframe
#print(df_mortality_rate.shape)
print(df_mortality_rate.columns)
#print(df_mortality_rate.dtypes)

#print(df_mortality_rate["OBS_VALUE"].drop_duplicates().sort_values())
df_mortality_rate.head(10)




# Prepare life expectancy DataFrame for Machine Learning
#ml_df_mortality_rate = df_mortality_rate[['REF_AREA', 'TIME_PERIOD', "MEASURE"]]

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'AGE', 'Age', 'SEX',
       'Sex', 'SOCIO_ECON_STATUS', 'Socio-economic status', 'DEATH_CAUSE',
       'Cause of death', 'CALC_METHODOLOGY', 'Calculation methodology',
       'GESTATION_THRESHOLD', 'Gestation period threshold', 'HEALTH_STATUS',
       'Health status', 'DISEASE', 'Disease', 'CANCER_SITE', 'Cancer site',
       'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value',
       'DECIMALS', 'Decimals', 'OBS_STATUS', 'Observation status',
       'OBS_STATUS2', 'Observation status 2', 'OBS_STATUS3',
       'Observation status 3', 'UNIT_MULT', 'Unit multiplier'],
      dtype='object')

array(['_Z'], dtype=object)