In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("Setup successful! Ready to start the project.")

Setup successful! Ready to start the project.

In [14]:
df_life_expectancy = pd.read_csv('../data/raw/oecd_life_expectancy.csv')

print(df_life_expectancy.head())


df_life_expectancy.shape

df_life_expectancy.columns

  STRUCTURE                                STRUCTURE_ID  \
0  DATAFLOW  OECD.CFE.EDS:DSD_REG_DEMO@DF_LIFE_EXP(2.0)
1  DATAFLOW  OECD.CFE.EDS:DSD_REG_DEMO@DF_LIFE_EXP(2.0)
2  DATAFLOW  OECD.CFE.EDS:DSD_REG_DEMO@DF_LIFE_EXP(2.0)
3  DATAFLOW  OECD.CFE.EDS:DSD_REG_DEMO@DF_LIFE_EXP(2.0)
4  DATAFLOW  OECD.CFE.EDS:DSD_REG_DEMO@DF_LIFE_EXP(2.0)

              STRUCTURE_NAME ACTION FREQ Frequency of observation  \
0  Life expectancy - Regions      I    A                   Annual
1  Life expectancy - Regions      I    A                   Annual
2  Life expectancy - Regions      I    A                   Annual
3  Life expectancy - Regions      I    A                   Annual
4  Life expectancy - Regions      I    A                   Annual

  TERRITORIAL_LEVEL Territorial level REF_AREA Reference area  ... OBS_VALUE  \
0              CTRY           Country      DEU        Germany  ...      80.4
1              CTRY           Country      DEU        Germany  ...      74.0
2              CTRY           Country      DEU        Germany  ...      72.2
3              CTRY           Country      DEU        Germany  ...      78.8
4              CTRY           Country      DEU        Germany  ...      79.3

  Observation value COUNTRY  Country OBS_STATUS Observation status UNIT_MULT  \
0               NaN     DEU  Germany          A       Normal value         0
1               NaN     DEU  Germany          A       Normal value         0
2               NaN     DEU  Germany          A       Normal value         0
3               NaN     DEU  Germany          A       Normal value         0
4               NaN     DEU  Germany          A       Normal value         0

  Unit multiplier DECIMALS Decimals
0           Units        1      One
1           Units        1      One
2           Units        1      One
3           Units        1      One
4           Units        1      One

[5 rows x 32 columns]

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Frequency of observation', 'TERRITORIAL_LEVEL', 'Territorial level',
       'REF_AREA', 'Reference area', 'TERRITORIAL_TYPE',
       'Territorial typology', 'MEASURE', 'Measure', 'AGE', 'Age', 'SEX',
       'Sex', 'UNIT_MEASURE', 'Unit of measure', 'TIME_PERIOD', 'Time period',
       'OBS_VALUE', 'Observation value', 'COUNTRY', 'Country', 'OBS_STATUS',
       'Observation status', 'UNIT_MULT', 'Unit multiplier', 'DECIMALS',
       'Decimals'],
      dtype='object')

In [20]:
df_life_expectancy[["COUNTRY", "TIME_PERIOD", "AGE", "SEX", "OBS_VALUE"]].head(10)

  COUNTRY  TIME_PERIOD AGE SEX  OBS_VALUE
0     DEU         1990  Y0   F       80.4
1     DEU         1990  Y0   M       74.0
2     DEU         1991  Y0   M       72.2
3     DEU         1991  Y0   F       78.8
4     DEU         1992  Y0   F       79.3
5     DEU         1992  Y0   M       72.7
6     DEU         1993  Y0   M       72.8
7     DEU         1993  Y0   F       79.4
8     DEU         1994  Y0   F       79.7
9     DEU         1994  Y0   M       73.1

In [25]:
df_healthcare_spending = pd.read_csv('../data/raw/oecd_health_spending.csv')
print(df_healthcare_spending.head(10))
df_healthcare_spending.shape
df_healthcare_spending.columns

  STRUCTURE                     STRUCTURE_ID  \
0  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
1  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
2  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
3  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
4  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
5  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
6  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
7  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
8  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)
9  DATAFLOW  OECD.ELS.HD:DSD_SHA@DF_SHA(1.0)

                     STRUCTURE_NAME ACTION REF_AREA Reference area FREQ  \
0  Health expenditure and financing      I      AUS      Australia    A
1  Health expenditure and financing      I      AUS      Australia    A
2  Health expenditure and financing      I      AUS      Australia    A
3  Health expenditure and financing      I      AUS      Australia    A
4  Health expenditure and financing      I      AUS      Australia    A
5  Health expenditure and financing      I      AUS      Australia    A
6  Health expenditure and financing      I      AUS      Australia    A
7  Health expenditure and financing      I      AUS      Australia    A
8  Health expenditure and financing      I      AUS      Australia    A
9  Health expenditure and financing      I      AUS      Australia    A

  Frequency of observation     MEASURE      Measure  ... OBS_STATUS  \
0                   Annual  EXP_HEALTH  Expenditure  ...        NaN
1                   Annual  EXP_HEALTH  Expenditure  ...          D
2                   Annual  EXP_HEALTH  Expenditure  ...          D
3                   Annual  EXP_HEALTH  Expenditure  ...          D
4                   Annual  EXP_HEALTH  Expenditure  ...          D
5                   Annual  EXP_HEALTH  Expenditure  ...          D
6                   Annual  EXP_HEALTH  Expenditure  ...          D
7                   Annual  EXP_HEALTH  Expenditure  ...          D
8                   Annual  EXP_HEALTH  Expenditure  ...          D
9                   Annual  EXP_HEALTH  Expenditure  ...        NaN

   Observation status OBS_STATUS2 Observation status 2 OBS_STATUS3  \
0                 NaN         NaN                  NaN         NaN
1  Definition differs         NaN                  NaN         NaN
2  Definition differs         NaN                  NaN         NaN
3  Definition differs         NaN                  NaN         NaN
4  Definition differs         NaN                  NaN         NaN
5  Definition differs         NaN                  NaN         NaN
6  Definition differs         NaN                  NaN         NaN
7  Definition differs         NaN                  NaN         NaN
8  Definition differs         NaN                  NaN         NaN
9                 NaN         NaN                  NaN         NaN

  Observation status 3 UNIT_MULT Unit multiplier DECIMALS Decimals
0                  NaN         0           Units        1      One
1                  NaN         0           Units        1      One
2                  NaN         0           Units        1      One
3                  NaN         0           Units        1      One
4                  NaN         0           Units        1      One
5                  NaN         0           Units        1      One
6                  NaN         0           Units        1      One
7                  NaN         0           Units        1      One
8                  NaN         0           Units        1      One
9                  NaN         0           Units        1      One

[10 rows x 46 columns]

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'FINANCING_SCHEME',
       'Financing scheme', 'FINANCING_SCHEME_REV',
       'Revenues of financing schemes', 'FUNCTION', 'Health function',
       'MODE_PROVISION', 'Mode of provision', 'PROVIDER',
       'Healthcare provider', 'FACTOR_PROVISION', 'Factor of provision',
       'ASSET_TYPE', 'Asset type', 'PRICE_BASE', 'Price base', 'TIME_PERIOD',
       'Time period', 'OBS_VALUE', 'Observation value', 'BASE_PER',
       'Base period', 'CURRENCY', 'Currency', 'OBS_STATUS',
       'Observation status', 'OBS_STATUS2', 'Observation status 2',
       'OBS_STATUS3', 'Observation status 3', 'UNIT_MULT', 'Unit multiplier',
       'DECIMALS', 'Decimals'],
      dtype='object')

In [27]:
df_healthcare_spending["UNIT_MEASURE"].unique()

array(['PT_B1GQ', 'EUR_PPP_PS'], dtype=object)